@model CategoryListViewModel

@{
   Layout="~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
    <h1 class="text-warning">Admin Categories</h1>
     <a class="btn btn-primary btn-sm" href="/admin/categories/create">Add Categories </a>
        <table class="table table-bordered mt-3">
         <thead>
   <tr>
<td style="width:30px">Id</td>
<td>Name</td>
<td style="width:20px;"></td>
<td style="width: 150px;"></td>
   </tr>
         </thead>

         <tbody>
          @if (Model.Categories.Count>0)
          {
              @foreach (var item in Model.Categories)
              {

                <tr>
                   <td>@item.CategoryId</td>
                   <td>@item.Name</td>
                   <td>
                       @if (item.IsApproved)
                       {
                           <i class="fas fa-check-circle" ></i>
                       }

                       else
                       {
                          <i class="fas fa-times-circle"></i>


                       }
                       
                   </td>
                     <td>
                          <a href="/admin/categories/@item.CategoryId" class="btn btn-primary btn-sm mr-2">EdiT</a>
                          <form action="/admin/deletecategory" method="POST" style="display:inline">
                          <input type="hidden" name="categoryId" value="@item.CategoryId">
                          <button type="submit" class="btn btn-danger btn-sm">DeLeTe</button>
                          
                          </form>
                     </td>


                </tr>



                  
              }
              
          }



         </tbody>
        </table>
      
    </div>













</div>