    @model List<Category>
<div class="category-nav">
               <span class="category-header">Categories <i class="fa fa-list"></i></span>
               <ul class="category-list">
                 @foreach (var item in Model)
                   {
                      <li>
              <a asp-controller="Trading"
                     asp-action="List"
                   asp-route-category="@item.Url"
             class="list-group-item list-group-item-action @(ViewBag.SelectedCategory==item.Url?"active":"")"              
              >@item.Name</a>
                              </li>

                        
                  @* <li><a href="#">@item.Name</a></li> *@
                        
                     }
                     </ul>
                     </div>

      
				<!-- menu nav -->
				


